#mainContainer{
  background: rgba(0, 0, 0, 4);
}


.container-fluid {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}


h1 {
  font-family: Pacifico;
  font-size: 35px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: whitesmoke;
}

h3 {
  font-family: Pacifico;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}
p {
  font-family: Pacifico;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: Pacifico;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: Pacifico;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}


/* Overriding styles */

::-webkit-input-placeholder {
  font-family: Pacifico!important;
}

:-moz-placeholder { /* Firefox 18- */
  font-family: Pacifico!important;
}
::-moz-placeholder {  /* Firefox 19+ */
  font-family: Pacifico!important;
}



.logout-button{
  position: fixed;
  margin-top: -2.5%;
}
