
<div class="row">

  <div class="topSpace col-sm-5 col-lg-5 col-md-5 col-xs-5 col-sm-offset-3 col-lg-offset-3 col-md-offset-3 col-xs-offset-3">

<form>
  <div class="form-group">
    <input type="name" class="form-control h3" id="inputName" placeholder="Name">
  </div>

  <div class="form-group">
    <input type="email" class="form-control h3" id="inputEmail" placeholder="Email (This will be your username)">
  </div>


  <div class="form-group">
    <input type="password" class="form-control h3" id="inputPassword" placeholder="Password">
  </div>

  <div class="form-group">
    <input type="name" class="form-control h3" id="inputLocation" placeholder="City Name">
  </div>


  <button id="submit" type="submit" class="h3 topSpace darkButton btn btn-default col-sm-5 col-lg-5 col-md-5 col-xs-5
   col-sm-offset-2 col-lg-offset-3 col-md-offset-2 col-xs-offset-2">Submit</button>

</form>

</div>

</div>
