<div class="chat-box-bottom scroll-area" style="position: absolute;bottom: 0">

  <div class="row" style="display: inline-flex;">

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="width: 322px;" *ngFor="
    let localUserMessage of localUserMessages">




      <!-- if it is hide, then is shows this thing. -->

      <div *ngIf="localUserMessage.hiddenPanelVisibility" class="hidden-panel" (click)="changeInHiddenPanelVisibility(localUserMessage)" style="bottom: 0px; position: relative; width: auto;">
        <span class="glyphicon glyphicon-comment"></span> {{localUserMessage.name}}
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
          <ul class="dropdown-menu slidedown">

            <li class="divider"></li>
            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
              Sign Out</a></li>
          </ul>
        </div>
      </div>





      <div *ngIf="localUserMessage.mainPanelVisibility" class="panel panel-primary" style="margin-bottom: 0px;">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-comment"></span> {{localUserMessage.name}}
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" (click)="changeInVisibilityByMinimizing(localUserMessage)">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>

            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" (click)="changeInVisibilityByClosing(localUserMessage)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>


            <ul class="dropdown-menu slidedown">

              <li class="divider"></li>
              <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                Sign Out</a></li>
            </ul>
          </div>
        </div>



        <!--

        this is chat bo


        -->



        <div class="panel-body" style="background-color: #30404a;">

          <ul class="chat" *ngFor="let message of localUserMessage.arrayIndividualMessage">

            <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                        </span>
              <div class="chat-body clearfix">
                <div class="header" style="color: #f5f5f5;">
                  <strong class="primary-font">{{getRightUserName(message, localUserMessage)}}</strong> <small class="pull-right text-muted">
                  <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                </div>

                 <p style="color: #f5f5f5;">
                      {{getRightIndividualMessage(message)}}
                 </p>


              </div>
            </li>

          </ul>

       </div>





        <div class="panel-footer">
          <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." [(ngModel)]="localUserMessage.tempMessage"
                   #box (keyup.enter)="updateMessage(box.value, localUserMessage)"
            />
            <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" (click)="updateMessage(box.value, localUserMessage)" id="btn-chat">
                                Send</button>
                        </span>
          </div>
        </div>






      </div>
    </div>




  </div>
</div>
